.etchASketch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
}

.gridSquare {
    background-color: cornflowerblue;
}

.btnNewGrid {
    margin: 50px;
}