body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
}

.gridSquare {
    background-color: cornflowerblue;
    
    width: 60px;
    height: 60px;
}